.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.comfortaa-font {
  font-family: "Popins", sans-serif
}

.card {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    color: white;
    background-color: #4158A6;
    align-items: center;
    padding: 10px;
    border: solid darkblue;
    border-radius: 5%;
}

.buy-button {
  color: darkblue;
  background-color: gold;
  padding: 2%;
  border: solid darkblue;
  border-radius: 10%;
}


.home-button {
  display: inline-block;
  background-color: #96CEB4;
  text-decoration: none;
  padding: 5px;
  font-weight: 400;
  font-size: 12pt;
}
.home-button:hover {
  color: darkorchid;
  font-weight: 700;
}

.home {
  position: fixed;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 5px;
    font-size: medium;
    object-fit: cover;
  }

  .plan-features {
    margin-bottom: 0%;
  }

  .buy-button {
    border-radius: 20%;
  }
}
